$primary-color-cyan:#5FB4A2;
$primary-color-dark:#203A4C;
$primary-color-dark-gray-blue:#33323D;
$secondary-color-very-light-gray:#FAFAFA;
$secondary-color-light-gray:#EAEAEB;
$secondary-color-bright-red:#F43030;
$main-font-size: 16px;
$main-font-family-text: 'Public Sans';
$main-font-family-title: 'Ibarra Real Nova';
