.intro {
    position: relative;
    left: 320px;
    width: 1200px;


    &__photo {
        margin: 124px 0px 50px 110px;
    }

    &__categories {
        width: 1200px;
        padding: 1px 110px 50px 110px;
        display: flex;
        flex-wrap: wrap;

        &__box {
            display: flex;
            flex-direction: row;
            padding-right: 25px;
            padding-bottom: 25px;

            &__title {
                position: absolute;
                color: white;
                padding-top: 160px;
                padding-left: 20px;
                font-size: 24px;
                font-weight: 500;
                line-height: 29.78px;
            }

            &--item {
                display: flex;
                flex-direction: row;
            }
        }
    }
}