.intro {
    position: absolute;
    background-color: #f2f2f2;
    width: 1170px;
    

    &__photo {
        position: absolute;
        left: 320px;
        background-color: #f2f2f2;
        padding: 124px 110px 50px 110px;
    }
    &__categories{
        position: absolute;
        top: 644px;
        left: 320px;
        width: 1200px;
        padding: 1px 110px 50px 110px;
        background-color: #f2f2f2;
        display: flex;
        flex-wrap: wrap;
        &__box{
            display: flex;
            flex-direction: row;
            padding-right: 25px;
            padding-bottom: 25px;
            &__title{
                z-index: 9;
            }
            &--item{
                display: flex;
                flex-direction: row;
            }
        }
    }
}