.nav{
  width: 200px;
  position: absolute;
  top: 32px;
  left: 100px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 9;
 &__line{
  position: absolute;
  top: 150px;
  width: 180px;
  left: 10px;
 }
 &__logo{
  text-align: center;
  align-items: center;
  margin-left: 25px;
 }
  &__ul{
    width: 180px;
    position: absolute;
    top: 170px;
    &__li{
      list-style-type: none;
      align-items: center;
      width: 200px;
      &--logo{
        padding-bottom: 30px;
        margin-top: 30px;
        margin-right: 25px;
      }
      &--link{
        
        text-decoration: none;
        font-size: 24px;
        color: black;
        &:hover{
          color: #FF9846;
        }
        
        
      }
    }
  }
}